---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Spending Kills</title>
	</head>
	<body>
		<h1>Spending Kills</h1>
        <h2>En kampagne mod overforbrug</h2>

        <h1>Overforbrug har konsekvenser</h1>
        <p>Spending Kills er Danske Banks kampagne, der sætter fokus på forbrugsvaner blandt unge og studerende. Inspireret af advarsler fra anti-rygekampagner bruger vi mærkater på pakker til at skabe et øjebliks refleksion i købsøjeblikket og åbne for en samtale om valg, prioriteringer og økonomisk bevidsthed.</p>
	</body>
</html>